@charset "utf-8";

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url("Open_Sans/Light.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("Open_Sans/Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("Open_Sans/Semibold.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: url("Open_Sans/Bold.woff2") format("woff2");
}

@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: 500;
    src: url("Open_Sans/icomoon.woff2") format("woff2");
}

.fa {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-crop-portrait:before {
    content: "\e3c5"
}

.fa-grid-on:before {
    content: "\e3ec"
}

.fa-more-vert:before {
    content: "\e5d4"
}

.fa-align-top:before {
    content: "\e90c"
}

.fa-play:before {
    content: "\e90b"
}

.fa-exclamation-triangle:before {
    content: "\e90a"
}

.fa-shield:before {
    content: "\e909"
}

.fa-eur:before {
    content: "\e907"
}

.fa-cny:before {
    content: "\e904"
}

.fa-minus-circle:before {
    content: "\e901"
}

.fa-plus-square:before {
    content: "\e902"
}

.fa-minus-square:before {
    content: "\e903"
}

.fa-plus:before {
    content: "\e905"
}

.fa-minus:before {
    content: "\e906"
}

.fa-earth:before {
    content: "\e900"
}

.fa-eth:before {
    content: "\e601"
}

.fa-ltc:before {
    content: "\e600"
}

.fa-angle-double-down:before {
    content: "\f103"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-area-chart:before {
    content: "\f1fe"
}

.fa-arrow-down:before {
    content: "\f063"
}

.fa-arrow-left:before {
    content: "\f060"
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa-arrow-up:before {
    content: "\f062"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-arrows-alt:before {
    content: "\f0b2"
}

.fa-arrows-h:before {
    content: "\f07e"
}

.fa-arrows-v:before {
    content: "\f07d"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-ban:before {
    content: "\f05e"
}

.fa-bank:before {
    content: "\f19c"
}

.fa-institution:before {
    content: "\f19c"
}

.fa-university:before {
    content: "\f19c"
}

.fa-bar-chart:before {
    content: "\f080"
}

.fa-bar-chart-o:before {
    content: "\f080"
}

.fa-bars:before {
    content: "\f0c9"
}

.fa-navicon:before {
    content: "\f0c9"
}

.fa-reorder:before {
    content: "\f0c9"
}

.fa-bitcoin:before {
    content: "\f15a"
}

.fa-btc:before {
    content: "\f15a"
}

.fa-bolt:before {
    content: "\f0e7"
}

.fa-flash:before {
    content: "\f0e7"
}

.fa-bullhorn:before {
    content: "\f0a1"
}

.fa-calculator:before {
    content: "\f1ec"
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-caret-left:before {
    content: "\f0d9"
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-caret-up:before {
    content: "\f0d8"
}

.fa-chain:before {
    content: "\f0c1"
}

.fa-link:before {
    content: "\f0c1"
}

.fa-chain-broken:before {
    content: "\f127"
}

.fa-unlink:before {
    content: "\f127"
}

.fa-check:before {
    content: "\f00c"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-close:before {
    content: "\f00d"
}

.fa-remove:before {
    content: "\f00d"
}

.fa-times:before {
    content: "\f00d"
}

.fa-cog:before {
    content: "\f013"
}

.fa-gear:before {
    content: "\f013"
}

.fa-comments:before {
    content: "\f086"
}

.fa-compress:before {
    content: "\f066"
}

.fa-desktop:before {
    content: "\f108"
}

.fa-download:before {
    content: "\f019"
}

.fa-edit:before {
    content: "\f044"
}

.fa-pencil-square-o:before {
    content: "\f044"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-exchange:before {
    content: "\f0ec"
}

.fa-expand:before {
    content: "\f065"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-info:before {
    content: "\f129"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-lock:before {
    content: "\f023"
}

.fa-paragraph:before {
    content: "\f1dd"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-pie-chart:before {
    content: "\f200"
}

.fa-plus-circle:before {
    content: "\f055"
}

.fa-question:before {
    content: "\f128"
}

.fa-question-circle:before {
    content: "\f059"
}

.fa-quote-left:before {
    content: "\f10d"
}

.fa-quote-right:before {
    content: "\f10e"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-sign-in:before {
    content: "\f090"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-step-backward:before {
    content: "\f048"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-terminal:before {
    content: "\f120"
}

.fa-thumb-tack:before {
    content: "\f08d"
}

.fa-times-circle:before {
    content: "\f057"
}

.fa-times-circle-o:before {
    content: "\f05c"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-upload:before {
    content: "\f093"
}

.fa-user:before {
    content: "\f007"
}

.fa {
    display: inline-block;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-fw {
    width: 1.2857142857em;
    width: 1.2857142857rem;
    text-align: center
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}
