@charset "UTF-8";
.futures-bg-primary {
  background: #151a1e;
  color: #cdcdcd; }

.futures-bg-primary {
  /******* history ********/
  /*.ft-order-log dl{ border-bottom: 1px #555 solid;}*/
  /*.ft-order-log .log-list dl:nth-child(odd){ background: #404040;}*/
  /********* book *********/
  /* trade panel */
  /* tradingview1.12  */
  /* right menu */
  /* 翻页 */
  /* 简易版 new order*/
  /* skin setting  计算器 */ }
  .futures-bg-primary .green6, .futures-bg-primary .buy {
    color: #8ec919; }
  .futures-bg-primary .red6, .futures-bg-primary .sell {
    color: #ff007a; }
  .futures-bg-primary .futures-c {
    background: #262d33; }
  .futures-bg-primary .ft-bd-78 {
    border: 1px #4c5052 solid; }
  .futures-bg-primary .header-box {
    background: #262d33;
    border-bottom: 1px #4c5052 solid;
    color: #eee; }
  .futures-bg-primary .red1 {
    color: #ff007a !important; }
  .futures-bg-primary .tradefull-head-box .header-logo-box .drop-menu-horizontal:hover {
    background-color: #313940; }
  .futures-bg-primary .tradefull-head-box .login-box {
    height: 50px;
    line-height: 50px; }
    .futures-bg-primary .tradefull-head-box .login-box .login-bar a {
      color: #ccc !important; }
    .futures-bg-primary .tradefull-head-box .login-box .login-bar a:hover {
      background-color: #313940; }
  .futures-bg-primary .tradefull-head-box .header-lang #langselect cite:hover {
    background-color: #313940; }
  .futures-bg-primary .drop-menu-children {
    border-color: #999;
    box-shadow: 0px 0px 6px #000;
    background: #272d33 !important; }
    .futures-bg-primary .drop-menu-children .drop-menu-header {
      position: relative; }
      .futures-bg-primary .drop-menu-children .drop-menu-header div {
        position: absolute;
        top: 4px;
        right: 0;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        border: 1px #323c45 solid;
        background: #232a30; }
        .futures-bg-primary .drop-menu-children .drop-menu-header div input {
          display: inline-block;
          width: 80px;
          padding: 2px 2px;
          border: 0;
          -moz-outline: none;
          outline: none;
          font-size: 12px; }
        .futures-bg-primary .drop-menu-children .drop-menu-header div i {
          padding-left: 3px;
          font-size: 12px;
          line-height: 0; }
    .futures-bg-primary .drop-menu-children .drop-menu-item {
      background: #1b2125; }
      .futures-bg-primary .drop-menu-children .drop-menu-item span:nth-child(1) i {
        padding-right: 5px;
        font-size: 15px;
        font-weight: 600;
        color: #ccc; }
  .futures-bg-primary .drop-item-style1 {
    background: #151a1e; }
    .futures-bg-primary .drop-item-style1 .product-menu-bg {
      margin: 8px;
      background-color: #1b2125; }
    .futures-bg-primary .drop-item-style1 .drop-menu-header {
      border-bottom: 1px #323c45 solid; }
    .futures-bg-primary .drop-item-style1 li {
      width: 420px; }
    .futures-bg-primary .drop-item-style1 li.drop-menu-header {
      border-bottom: 1px #323c45 solid; }
      .futures-bg-primary .drop-item-style1 li.drop-menu-header a.current {
        background: #323c45; }
    .futures-bg-primary .drop-item-style1 li.drop-menu-conten,
    .futures-bg-primary .drop-item-style1 li.drop-menu-item {
      border-bottom: 1px #1d242a solid; }
    .futures-bg-primary .drop-item-style1 li.drop-menu-item:hover {
      background: #323c45; }
  .futures-bg-primary .login-box {
    background: #262d33; }
  .futures-bg-primary .login-box a,
  .futures-bg-primary .header-box .border-l {
    border-left: none;
    min-width: 50px;
    color: #eee;
    font-size: 1em; }
  .futures-bg-primary .head-icon-config:hover {
    background: #313940;
    color: #f3b652; }
  .futures-bg-primary .head-icon-config-hover {
    background: #262d33;
    border: 1px solid #4c5052; }
  .futures-bg-primary .header-lang {
    right: 27px; }
  .futures-bg-primary #langselect cite {
    padding-left: 8px; }
  .futures-bg-primary #langselect ul {
    background: #262d33;
    border-color: #4c5052; }
  .futures-bg-primary #langselect cite {
    color: #ccc; }
  .futures-bg-primary .skin-box, .futures-bg-primary .mode-box {
    background: #262d33;
    border-color: #4c5052; }
    .futures-bg-primary .skin-box p:hover, .futures-bg-primary .mode-box p:hover {
      background: #374047; }
  .futures-bg-primary .skin-set:hover, .futures-bg-primary .mode-set:hover {
    background: #313940; }
  .futures-bg-primary .futures-fullTrade-history .ff-history-nav {
    position: relative;
    border-bottom: 1px #4c5052 solid;
    height: 28px;
    background: #262d33; }
  .futures-bg-primary .ff-history-nav-l > span {
    display: inline-block;
    padding: 0 30px;
    height: 25px;
    line-height: 25px;
    background: #2e353c;
    border-top: 1px #4c5052 solid;
    border-right: 1px #4c5052 solid;
    border-bottom: 1px #4c5052 solid;
    vertical-align: bottom;
    text-align: center;
    cursor: pointer; }
  .futures-bg-primary .ff-history-nav-l > span:first-child {
    border-left: 1px solid #4c5052; }
  .futures-bg-primary .ff-history-nav-l > span.current {
    padding-top: 1px;
    height: 27px;
    line-height: 27px;
    background: #262d33;
    border-left: 1px solid #4c5052;
    border-top: 1px #4c5052 solid;
    border-right: 1px #4c5052 solid;
    border-bottom: none; }
  .futures-bg-primary .ff-history-nav-r .icon-add-bg {
    color: #ccc;
    font-size: 14px;
    vertical-align: middle; }
  .futures-bg-primary .futures-fullTrade-history-detail {
    background-color: #262d33; }
    .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log {
      overflow: hidden; }
      .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid #5a5a5a; }
        .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div input {
          -moz-outline: none;
          outline: none;
          border: 0;
          width: 70px;
          padding: 1px 4px;
          font-size: 12px;
          line-height: 1.5;
          background: #424c55; }
        .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div div {
          width: 40px;
          height: 20px;
          background: red;
          font-size: 12px;
          background: #c0d2df;
          text-align: center;
          border: 0;
          line-height: 21px;
          border-left: 1px solid #999;
          cursor: pointer;
          color: #555; }
        .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div div:nth-child(3) {
          background: #ed9076;
          color: #e1dcdb; }
        .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div div:nth-child(2):hover {
          background: #9fc2dc; }
        .futures-bg-primary .futures-fullTrade-history-detail .ft-order-log .trade-new .f-clear dd:nth-child(9) div div:nth-child(3):hover {
          background: #ed552b; }
  .futures-bg-primary .ft-order-log {
    border: 1px #4c5052 solid;
    border-top: none; }
  .futures-bg-primary .ft-order-log dd {
    text-align: center;
    overflow: hidden; }
  .futures-bg-primary .futures-book-box {
    width: 246px;
    background-color: #262d33;
    border: 1px #4c5052  solid !important; }
  .futures-bg-primary .futures-book-title li {
    float: left;
    width: 246px;
    height: 25px; }
  .futures-bg-primary .futures-fullTrade-book {
    width: 100% !important;
    overflow: hidden; }
  .futures-bg-primary .futures-fullTrade-book .order-current {
    height: 36px;
    line-height: 36px;
    background: #2e363d;
    border: none; }
  .futures-bg-primary .futures-fullTrade-close ul li span:nth-child(3) {
    width: 30% !important;
    color: #595d61; }
  .futures-bg-primary .trade-order-detail ul li:hover {
    background-color: rgba(185, 185, 185, 0.5); }
  .futures-bg-primary .futures-order-sell li div span > i.gray {
    color: #b40056; }
  .futures-bg-primary .futures-order-buy li div span > i.gray {
    color: #619200; }
  .futures-bg-primary .futures-order-sell li span:first-child:hover i {
    color: #ff0066; }
  .futures-bg-primary .futures-order-buy li span:first-child:hover i {
    color: #9ac635; }
  .futures-bg-primary .futures-fullTrade-panel-box {
    box-sizing: border-box;
    background: #262d33;
    border: 1px solid #4c5052; }
    .futures-bg-primary .futures-fullTrade-panel-box .futures-fullTrade-panel .head-nav {
      overflow: hidden; }
      .futures-bg-primary .futures-fullTrade-panel-box .futures-fullTrade-panel .head-nav dd:nth-child(3) select, .futures-bg-primary .futures-fullTrade-panel-box .futures-fullTrade-panel .head-nav dd:nth-child(3) .select {
        width: 80px;
        -moz-outline: none;
        outline: none;
        cursor: pointer;
        font-size: 12px;
        color: #eee;
        background: #25292e;
        border-color: #4c5052;
        padding-bottom: 1px;
        margin: 3px 0 2.5px 0;
        color: #cdcdcd; }
  .futures-bg-primary .futures-fullTrade-panel-detail .numberBox {
    width: 150px;
    height: 28px;
    border-color: #5a5a5a;
    background: #424c55; }
  .futures-bg-primary .futures-fullTrade-panel-detail input[type="text"] {
    width: 90px;
    height: 28px;
    cursor: pointer;
    border: 0 none;
    -moz-outline: none;
    outline: none;
    color: #fff;
    background: #424c55; }
  .futures-bg-primary .futures-fullTrade-panel-detail .number-title {
    width: 39px;
    height: 28px;
    overflow: hidden;
    border-left-color: #4c5052 !important;
    color: #808385; }
  .futures-bg-primary .futures-fullTrade-panel-detail .numberBox .arrowup,
  .futures-bg-primary .futures-fullTrade-panel-detail .numberBox .arrowdown {
    padding-top: 0;
    width: 20px;
    height: 14px;
    line-height: 14px;
    color: #888;
    box-sizing: border-box;
    border-left-color: #4c5052;
    font-size: 12px; }
  .futures-bg-primary .futures-fullTrade-panel-detail .numberBox .arrowup:hover,
  .futures-bg-primary .futures-fullTrade-panel-detail .numberBox .arrowdown:hover {
    color: #ffa200; }
  .futures-bg-primary .bg-r {
    overflow: hidden; }
  .futures-bg-primary .ft-limit-commission {
    background-color: #161b1f; }
  .futures-bg-primary .ft-order-limit.limit-disable div .custom-radioInput {
    border-color: #888; }
  .futures-bg-primary .ft-order-limit.limit-disable div .custom-radio:checked + .custom-radioInput:after {
    background-color: #888; }
  .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(5), .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(6), .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(7), .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(10),
  .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(11), .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(12), .futures-bg-primary .ft-log-w2 .ft-can-edit dd:nth-child(15), .futures-bg-primary .ft-log-w3 .ft-can-edit dd:nth-child(10),
  .futures-bg-primary .ft-log-w3 .ft-can-edit dd:nth-child(11), .futures-bg-primary .ft-log-w3 .ft-can-edit dd:nth-child(15) {
    background-color: #1b2025; }
  .futures-bg-primary .ft-order-log dl {
    border-bottom: 1px solid #303538 !important; }
    .futures-bg-primary .ft-order-log dl dd {
      text-align: center;
      border-right: 1px #303538 solid; }
      .futures-bg-primary .ft-order-log dl dd .slider-number-box {
        background: #1b2025; }
  .futures-bg-primary .ft-order-log dl.current {
    background: #445b7b !important; }
    .futures-bg-primary .ft-order-log dl.current .slider-number-box {
      background: #4a6386 !important; }
  .futures-bg-primary .ft-bd-53 {
    border: 1px solid #4c5052; }
  .futures-bg-primary .ft-order-box {
    background-color: #262d33;
    border: 1px solid #4c5052; }
    .futures-bg-primary .ft-order-box .slider-number-box {
      background-color: #292f35;
      border-color: #888f94; }
    .futures-bg-primary .ft-order-box select, .futures-bg-primary .ft-order-box .select, .futures-bg-primary .ft-order-box .select .option {
      background-color: #292f35;
      border-color: #888f94; }
    .futures-bg-primary .ft-order-box .select .option .active {
      background-color: #363c4e; }
  .futures-bg-primary .ft-order-box .order-code {
    background-color: #21282d; }
  .futures-bg-primary .ft-order-deep table tbody tr:nth-child(odd) {
    background: #262d33; }
  .futures-bg-primary .ft-order-deep table tbody tr:nth-child(even) {
    background: #293138; }
  .futures-bg-primary .ft-order-deep table td, .futures-bg-primary .ft-order-deep table th {
    border: 1px solid #3d4346; }
  .futures-bg-primary .ft-order-deep table th {
    background-color: #22272b; }
  .futures-bg-primary .ft-order-deep .ft-km {
    background: #272f38; }
  .futures-bg-primary .ft-order-deep .table-book-deep {
    font: 12px/1.14 "Microsoft Yahei",arial, \5b8b\4f53;
    color: #cdcdcd; }
    .futures-bg-primary .ft-order-deep .table-book-deep .green5 {
      color: #8ec919; }
    .futures-bg-primary .ft-order-deep .table-book-deep .red5 {
      color: #FF2A68; }
  .futures-bg-primary .ft-order-deep.color-pg1 .deep-bg-r {
    background-color: #482f43 !important; }
  .futures-bg-primary .ft-order-deep.color-pg1 .deep-bg-l {
    background-color: #3c4c37 !important; }
  .futures-bg-primary .skin-dif-table .div-table-bd {
    padding-bottom: 1px;
    border: 1px solid #3d4346; }
  .futures-bg-primary .skin-dif-table table tbody tr:nth-child(odd) {
    background: #262d33; }
  .futures-bg-primary .skin-dif-table table tbody tr:nth-child(even) {
    background: #262d33; }
  .futures-bg-primary .skin-dif-table table th {
    border: 1px solid #2e363d; }
  .futures-bg-primary .skin-dif-table table td {
    border: 1px solid #262d33; }
  .futures-bg-primary .skin-dif-table table th {
    background-color: #2e363d; }
  .futures-bg-primary .skin-dif-table .table-double table tbody td:nth-child(odd) {
    text-align: left;
    padding-left: 5px; }
  .futures-bg-primary .skin-dif-table .table-double table tbody td:nth-child(even) {
    text-align: right;
    padding-right: 5px; }
  .futures-bg-primary .skin-dif-table .table-single table tbody td {
    text-align: right;
    padding-right: 5px; }
  .futures-bg-primary .skin-dif-table .table-single table thead th {
    text-align: right;
    padding-right: 8px; }
  .futures-bg-primary .skin-dif-table .table-single table thead th:first-child {
    padding-right: 23px; }
  .futures-bg-primary .skin-dif-table .table-single table tbody td:first-child {
    padding-right: 20px; }
  .futures-bg-primary .ft-new-deal, .futures-bg-primary .ft-km {
    background: #2a333c;
    border: 1px solid #3d4346; }
  .futures-bg-primary .ft-order-market > div {
    color: #eee;
    background: #262d33; }
  .futures-bg-primary .dragDiv-openBg {
    background: #262d33; }
  .futures-bg-primary .dialog-head {
    background: #262d33;
    border-bottom-color: #555; }
  .futures-bg-primary .order-menu-setting {
    background: #323b42;
    border-color: #555; }
    .futures-bg-primary .order-menu-setting .menu-grade2, .futures-bg-primary .order-menu-setting .menu-grade3 {
      background: #323b42;
      border-color: #555; }
    .futures-bg-primary .order-menu-setting li:hover {
      background: #55697b; }
      .futures-bg-primary .order-menu-setting li:hover .custom-radio:checked + .custom-radioInput:after {
        background-color: #fff; }
    .futures-bg-primary .order-menu-setting li.color-scheme:hover {
      background: #323b42; }
  .futures-bg-primary .market-menu {
    background: #262d33; }
  .futures-bg-primary .order-menu-setting .drop-child {
    background: #262c31 !important; }
  .futures-bg-primary .mining-setting {
    background: #323b42;
    border: 1px solid #216e8e; }
  .futures-bg-primary .mining-setting .mining-detail {
    border-bottom: 1px solid #3d4346 !important; }
  .futures-bg-primary .mining-detail .slider-number-box {
    border-color: #888f94; }
  .futures-bg-primary .mining-detail select {
    background-color: #292f35;
    border-color: #888f94;
    height: 24px;
    line-height: 24px;
    color: #ccc;
    vertical-align: -2px; }
  .futures-bg-primary .tv-code-box select, .futures-bg-primary .tv-code-box .select {
    background-color: #262d33; }
  .futures-bg-primary .zh-trading-bg {
    background: #2a3844;
    box-shadow: 0 0 10px 2px #34414c;
    width: 298px;
    font-size: .75em; }
    .futures-bg-primary .zh-trading-bg .ft-order-box {
      border: none;
      background: none; }
  .futures-bg-primary .floating-toolbar {
    position: absolute !important;
    background-color: #151a1e;
    box-shadow: 0 1px 4px 0 rgba(35, 35, 35, 0.4);
    border-radius: 1px;
    border: 1px solid;
    border-color: #151a1e;
    color: #cdcdcd;
    font-size: 14px;
    touch-action: none;
    right: 160px;
    top: 40px; }
  .futures-bg-primary .toolbar-wrapper {
    display: flex; }
  .futures-bg-primary .toolbar-drag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* cursor: url(grab.bc15652….cur),move; */
    cursor: -webkit-grab;
    cursor: grab;
    width: 30px; }
  .futures-bg-primary .toolbar-drag svg {
    width: 6px;
    height: 12px;
    fill: #dadde0; }
  .futures-bg-primary .toolbar-content {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px; }
  .futures-bg-primary .toolbar-widget {
    display: flex;
    align-items: stretch;
    border-left: 1px solid;
    border-left-color: #535353; }
  .futures-bg-primary .toolbar-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-width: 85px;
    padding: 4px 7px;
    transition: background-color .175s ease; }
  .futures-bg-primary .toolbar-sell {
    background-color: rgba(255, 74, 104, 0.07); }
  .futures-bg-primary .toolbar-sell .toolbar-title {
    color: #ff4a68; }
  .futures-bg-primary .toolbar-button span {
    font-size: 12px; }
  .futures-bg-primary .toolbar-spread {
    color: #8a8a8a;
    padding: 0 11px;
    line-height: 17px;
    cursor: default;
    display: flex;
    align-items: center; }
  .futures-bg-primary .menu-list {
    line-height: 25px;
    color: #c7c7c7;
    background: #262d33;
    border: 1px solid #535353; }
    .futures-bg-primary .menu-list li {
      padding: 0 15px;
      white-space: nowrap; }
    .futures-bg-primary .menu-list li:hover {
      background: #424c55; }
    .futures-bg-primary .menu-list li.bd-b {
      border-bottom: 1px solid #535353; }
    .futures-bg-primary .menu-list li.disable {
      color: #888; }
    .futures-bg-primary .menu-list li.disable:hover {
      background: #262d33; }
  .futures-bg-primary .tabpage span {
    color: #cdcdcd; }
  .futures-bg-primary .tabpage a {
    color: #666;
    border: 1px solid #777; }
  .futures-bg-primary .tabpage a:hover {
    color: #bbb;
    border: 1px #bbb solid; }
  .futures-bg-primary .tabpage a.current {
    color: #ccc;
    background: #323e4a;
    border: 1px solid #777; }
  .futures-bg-primary .tabpage a.disabled, .futures-bg-primary .tabpage .tabpage a.disabled:hover {
    color: #888 !important;
    background: #2e3840 !important;
    border-color: #777 !important; }
  .futures-bg-primary .ft-newOrder-easy .ft-easy-tab {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .futures-bg-primary .ft-newOrder-easy .ft-easy-tab > span {
      display: inline-block;
      flex-grow: 1;
      height: 25px;
      line-height: 25px;
      background: #2e353c;
      border-top: 1px #3d4346 solid;
      border-right: 1px #3d4346 solid;
      border-bottom: 1px #3d4346 solid;
      vertical-align: bottom;
      text-align: center;
      cursor: pointer; }
    .futures-bg-primary .ft-newOrder-easy .ft-easy-tab > span:first-child {
      border-left: 1px solid #3d4346; }
    .futures-bg-primary .ft-newOrder-easy .ft-easy-tab > span.current {
      background: #262d33;
      border-bottom: none; }
  .futures-bg-primary .ft-newOrder-easy .ft-newOrder-easy-detail {
    padding: 10px 5px;
    border: 1px solid #3d4346;
    border-top: none; }
    .futures-bg-primary .ft-newOrder-easy .ft-newOrder-easy-detail .easy-price-dis {
      background: #2a333c;
      text-align: center;
      line-height: 22px;
      width: 100%;
      color: #ccc; }
  .futures-bg-primary .pbuy .txt {
    color: #8ec919 !important; }
  .futures-bg-primary .psell .txt {
    color: #ff007a !important; }
  .futures-bg-primary .btn-buy {
    background: #70a800;
    color: #efefef; }
  .futures-bg-primary .btn-sell {
    background: #cc0765;
    color: #efefef; }
  .futures-bg-primary .btn-buy:hover {
    background: #83c107; }
  .futures-bg-primary .btn-sell:hover {
    background: #ec0b77; }
  .futures-bg-primary .orderMask {
    background: #262f35; }
  .futures-bg-primary .ft-calculator-detail .slider-number-box {
    background: #292f35; }

.futures-bg-primary.ft-trade-easy-panel {
  background: #262d33; }
  .futures-bg-primary.ft-trade-easy-panel .ft-newOrder-easy .ft-easy-tab {
    width: 70%; }

/*# sourceMappingURL=futrues-primary.css.map */
