@charset "UTF-8";
.main-content-part{
    margin-top: 72px;
    min-height: 800px;
    color: #151a1e;
    background: #f8f8fa;
    overflow-x: hidden;
}
.asset-section{
    padding: 30px 0;
    input{
        border: none;
        outline: none;
    }


    .asset-theme{
        padding-left: 35px;
        height: 48px;
        line-height: 48px;
        border: 1px solid #edf1fc;
        font-size: 20px;
        background: #fff;
        border-radius: 4px;
    }

    .asset-safe-tip{
        margin-top: 10px;
        padding-left: 35px;
        height: 40px;
        line-height: 40px;
        background: #fffaea;
        color: #796858;
        border: 1px solid #edf1fc;
        border-radius: 4px;
        .icon-tips{
            color: #fc8423;
        }
        span,a{
            display: inline-block;
            color: #fe973b;
        }
    }
    .asset-contain{
        padding: 30px 35px;
        border: 1px solid #edf1fc;
        background: #fff;
        border-radius: 4px;
        .asset-contain-main{
            display: flex;
            min-height: 250px;
            &-l{
                min-width: 335px;
            }
            &-r{
                flex-grow: 1;
            }
            .account-block{
                li{
                    display: flex;
                    margin-top: 20px;
                    span:first-child{
                        width: 40%;
                    }
                    span:last-child{
                        width: 60%;
                        text-align: right;
                    }
                }
            }
            .address-block{
                h4{
                    font-size: 16px;
                }
                .address-get{
                    margin-top: 30px;
                    color: #6b798e;
                }
                .address-copy{
                    display: flex;
                    height: 45px;
                    line-height: 45px;
                    input{
                        width: 400px;
                        background: #f8f8fa;
                        font-size: 16px;
                        color: #151a1e;
                    }
                }
                .copy-txt{
                    padding-left:15px;
                    color: #f3b652;
                    cursor: pointer;
                    white-space: nowrap;
                }
                .copy-txt:hover{
                    color: #e0a138;
                }
                .remark-tip{
                    padding: 10px 0;
                    color: #ff8522;
                }
                .scan-qrCode{

                }
            }
            .label-block{
                display: flex;
                dt{
                    padding-right: 20px;
                    height: 46px;
                    line-height: 46px;
                    font-size: 16px;
                    width: 17%;
                }
                dt.wp-30{
                    width: 30%;
                }
                dd{
                    width: 70%;
                }
                dd.wp-80{
                    width: 80%;
                }
                input{
                    width: 100%;
                    height: 100%;
                    line-height: 100%;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 14px;
                        color: #9099a8;
                    }
                }
                .address-txt>input{
                    padding: 0;
                }
                .more-input{
                    display: flex;
                    justify-content: space-between;
                    line-height: 46px;
                    //input{
                    //    border: 1px solid #c4cfe0;
                    //}
                }
                .input-border{
                    display: flex;
                    justify-content: space-between;
                    line-height: 46px;
                    height: 46px;
                    border: 1px solid #c4cfe0;
                    border-radius: 2px;
                    box-sizing: border-box;
                    .code-unit{
                        color: #f3b652;
                        white-space:nowrap;
                        text-align: right;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
                .commit-box{
                    .btn{
                        width: 200px;
                        height: 47px;
                        background: #f3b652;
                        color: #fff;
                        border-radius: 4px;
                    }
                    .btn:hover{
                        background: #f3ab36;
                    }
                }
                .rate-txt{
                    color: #99a1af;
                }
                .change-radio{
                    display: block;
                    margin: 2px 20px;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    color: #fff;
                    background: #f3b652;
                    text-align: center;
                    border-radius: 50%;
                    font-weight: bold;
                    cursor: pointer;
                }
                .change-radio:hover{
                    background: #e0a138;
                }
            }
        }
        .ver-line{
            margin: 0 40px;
            border-left: 1px solid #edf1fc;
        }
        .hor-line{
            margin: 40px 0;
            border-top: 1px solid #edf1fc;
        }
        .hor-line-20{
            margin: 20px 0;
            border-top: 1px solid #edf1fc;
        }
        .asset-contain-tips{
            h4{
                padding-bottom: 10px;
                color: #ff8522;
                font-size: 12px;
            }
            ul{
                line-height: 24px;
                color: #aab0bb;
            }
            ul.number-li{
                padding-left: 15px;
                li{
                    list-style: decimal;
                }
            }
        }
        .bd-err {border-color: #ff8522 !important;}
        .select-box{
            position: relative;
            width: 100%;
            .select {
                display: flex;
                justify-content: space-between;
                padding-left: 15px;
                width: 100%;
                height: 46px;
                line-height: 46px;
                border: 1px #c0c6d0 solid;
                box-sizing: border-box;
                border-radius: 2px;
                .icon-xiala{
                    color: #9099a8;
                    font-size: 20px;
                }
                .icon-xiala.on{
                    display: inline-block;
                    transform: rotate(-180deg);
                    transition: all 0.2s;
                }
                .currency_text {font-size: 16px; overflow: hidden;}
            }
            .select-option {
                position: absolute;
                padding: 10px 0;
                width: 100%;
                line-height: 40px;
                background: #fefefe;
                border: 1px #edf1fc solid;
                box-shadow: 1px 2px 6px rgba(34, 39, 43, 0.1);
                overflow: auto;
                box-sizing: border-box;
                z-index: 9;
                border-radius: 2px;
                li {
                    padding-left: 15px;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    cursor: pointer;
                    //border-bottom: 1px #e6e6e6 dashed;
                    box-sizing: border-box;
                }
                li:hover{
                    background: #f8f8fa;
                }
            }
        }

    }

    .warn-tip{
        position: absolute;
        bottom: -15px;
        color: #ff8522;
        font-size: 12px;
    }
}

.asset-header{
    display: flex;
    align-items: center;
    li{
        margin-right: 20px;
        padding: 0 10px;
        min-width: 130px;
        height: 36px;
        line-height: 34px;
        font-weight: 500;
        text-align: center;
        border: 1px solid #f3b652;
        border-radius: 18px;
        color: #f3b652;
        transition: all 0.4s;
        box-sizing: border-box;
        a{
            display: inline-block;
            width: 100%;
            color: #f3b652;
            transition: all 0.4s;
        }
        a:hover{
            color: #fff;
        }
        i{
            font-size: 16px;
            padding-right: 5px;
            vertical-align: middle;
            &.icon-recharge {font-size: 18px;}
            &.icon-assets {font-size: 18px;}
            &.icon-change {font-size: 15px;}
            &.icon-personal {}
            &.icon-vip{font-size: 15px;}
            &.icon-SecuritySettings{font-size: 19px;}
            &.icon-api-link{font-size: 18px;}
            &.icon-liwu{}
        }
    }
    li:hover,li.current{
        background: #f3b652;
        color: #fff;
        box-shadow: 0 6px 11px -5px rgba(243, 182, 82, 0.65);
        a{
            color: #fff;
        }
    }
}

.all-assets-section .asset-config-list-content > li{
    span{
        display: inline-block;
        padding-right: 20px;
        min-width: 26px;
        color: #f3b652;
    }
    span:last-child{
        padding-right: 0;
    }
}

// 历史记录列表(public)
.record-lists{
    padding:0 20px 20px;
    background: #fff;
    border: 1px solid #edf1fc;
    border-radius: 4px;
    .lists-header{
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #edf1fc;
        h3{
            font-size: 20px;
        }
        a{
            color: #f4bb62;
            font-weight: 500;
        }
        a:hover{
            color: #e0a138;
        }
    }
    .lists-content{
        li{
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        li:first-child{
            text-align: left;
        }
        li:last-child{
            text-align: right;
        }
        li.oprate{
            display: flex;
            justify-content: space-around;
            span, a{
                color: #f3b652;
                cursor: pointer;
            }
            span:hover, a:hover{
                color: #e0a138;
            }
        }
        .lists-theme{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0 10px;
            color: #848fa0;
        }
        .lists-list{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0 10px;
            border-radius: 2px;
        }
        .lists-list:hover{
            background: #f8f8fa;
        }
        .lists-detail{
            background: #f8f8fa;
            li{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                padding: 0;
                >span{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 760px){
    .asset-header{
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            margin-top: 10px;
            margin-right: 0;
            width: 48%;
        }
    }
    .asset-section{
        padding: 0 20px 20px;
        box-sizing: border-box;
        .asset-safe-tip{
            padding: 10px;
            height: auto;
            line-height: 22px;
        }
        .asset-contain {
            padding: 0 0 20px;
            border: none;
            .asset-contain-main{
                display: block;
                .label-block{
                    display: block;
                    dt,dd{
                        width: 100% !important;
                    }
                    .commit-box .btn{
                        width: 100%;
                    }
                }
            }
            .asset-contain-main-l {
                min-width: 100%;
                width: 100% !important;
            }
            .asset-contain-main-r{
                margin-top: 20px;
                width: 100% !important;
            }

            .select-box .select .currency_text {font-size: 13px; overflow: hidden;}
        }
    }
    .record-lists{
        border: none;
        padding: 0;
        margin-bottom: 50px;
    }
    .asset-config-list.assets-border{
        overflow-x: auto;
        .asset-config-list-title,.asset-config-list-content{
            width: 800px;
        }
    }
    .all-assets-section .asset-config-list-content{
        li:last-child{

        }
    }
}