@charset "UTF-8";
.verify ,.verify-pop, .verify-inside-page{
    width: 100%;
    height: 929px;
    background: url("../images/verify/login-bg.jpg") no-repeat;
    background-position:50% !important;
    background-size: cover !important;
    .verify-box {
        width: 1100px;
        margin: 0 auto;
        padding-top: 9%;
        h3 {
            font-size: 36px;
            color: #f3f3f3;
            letter-spacing: 2px;
        }
        .verify-input-box, .verify-ph-and-gg {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;
            align-items: flex-start;
            form {
                margin-right: 70px;
                .verify-input-text {
                    position: relative;
                    input {border: 1px solid #4b4232;outline-color: #f3b652;font-size: 15px;width: 450px;height: 54px;margin-top: 38px;padding-right: 45px;}
                    .input-error {
                        color: #ff8522;
                        position: absolute;
                        bottom: -23px;
                        font-size: 12px;
                        i {font-size: 12px;padding-right: 5px;padding-left: 10px;}
                    }
                    .time-btn{width: 150px;
                        height: 52px;
                        margin-top: 38px;
                        border: 1px solid #4b4232;
                        text-align: center;
                        line-height: 50px;
                    }
                    .verify-code-text{
                        margin-bottom: -25px;
                        margin-top: 20px;
                    }
                }

                .verify-input-phone-text {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    width: 100%;
                    input {width: 69% !important;padding-right: 0;}
                    a {
                        border: 1px solid #f3b652;
                        font-size: 15px;
                        width: 30%;
                        height: 54px;
                        line-height: 54px;
                        text-align: center;
                        margin-top: 38px;
                        box-sizing: border-box;
                        margin-left: 0;
                        color: #000;
                        background: #f3b652;
                    }
                }

                .verify-tab-text {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: left;
                    align-items: flex-end;
                    font-size: 15px;
                    margin-top: 30px;
                    //border-bottom: 2px solid #4b4232;
                    >div {border-bottom: 2px solid #4b4232;padding-bottom: 10px;margin-bottom: -2px;cursor: pointer;padding-right: 10px;padding-left: 10px;}
                    >div.active {
                        border-bottom: 2px solid #f3b652;
                    }
                }
                .forget-password-text {
                    text-align: right;
                    padding-top: 20px;
                    color: #f3b652;
                    a {color: #f3b652;font-size: 14px;}
                }
                button {
                    width: 450px;
                    height: 58px;
                    box-sizing: border-box;
                    font-size: 18px;
                    border-radius: 5px;
                    margin-top: 50px;
                    cursor: pointer;
                    outline-color: #f3b652;
                }
                button.active {
                    background: #f3b652;
                    border: 1px solid #f3b652;
                }
                button.active:hover {
                    background: #f3b652;
                    border: 1px solid #f3b652;
                }
                .btnDis {border-color: #4b4232!important;background: none!important;color: #757575 !important;cursor: not-allowed;}
                .inside-error-text {
                    color: red;
                    padding: 10px 0;
                }
            }
            .input-right-text {
                p,a {font-size: 15px;color: #757575;line-height: 34px;cursor: default;letter-spacing: 1px;}
                p:first-child {padding-top: 27px;font-size: 16px;}
                .text-action {color: #f3b652;padding-top: 10px;display: inline-block;cursor: pointer;padding-right: 20px;}
                position: relative;
                .verify-right-bg {
                    background: url("../images/verify/verify-bg-right.png") no-repeat;
                    width: 400px;
                    height: 314px;
                    position: absolute;
                    background-size: 100% 100%;
                    top: -10px;
                    left: 100px;
                }
            }
        }
        .verify-ph-and-gg {
            form {
                margin-right: 0;
                .verify-ph-gg-flex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: left;
                    align-items: center;
                    margin: 40px 0;
                    .ph-gg-pic { width: 170px; height:156px;background: url(../images/verify/ggauth-setting.png) no-repeat;background-size: 100% 100%;margin-right: 60px;}
                    .ph-gg-text {width: 310px;font-size: 16px;}
                }
                .ph-gg-terms {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: left;
                    align-items: center;
                    padding: 20px 0;
                    .terms1 {
                        margin-right: 10px;
                        i {color: #f3b652;}
                    }
                    .terms2 {
                        width: 500px;
                        text-align: left;
                        font-size: 14px;
                        line-height: 1.6;
                        margin-right: 30px;
                    }
                    .input-agree {
                        appearance: none;
                        -webkit-appearance: none;
                        outline: none;
                        display: none;
                    }
                    .input-agree+span {
                        width: 16px;
                        height: 16px;
                        background-color: red;
                        display: inline-block;
                        background: url('../images/icons/icon-checkbox.png') no-repeat;
                        background-position-y: -21px;
                        vertical-align: -3px;
                        margin-right: 10px;
                    }
                    .input-agree:checked+span {
                        background-position: 0 0px;
                    }
                }
                >a,>span {
                    color: #000;
                    display: block;
                    width: 450px;
                    height: 58px;
                    line-height: 58px;
                    text-align: center;
                    box-sizing: border-box;
                    font-size: 18px;
                    border-radius: 5px;
                    margin-top: 50px;
                    cursor: pointer;
                    outline-color: #f3b652;
                    background: #f3b652;
                    border: 1px solid #f3b652;
                }
            }
            .input-right-text {
                position: relative;
                .verify-right-bg {
                    top: 20px;
                    left: 100px;
                }
            }
        }
    }
}
//验证弹窗
.verify-pop {
    width: 550px;
    background: #fff;
    height: inherit;
    padding: 25px 64px 60px;
    box-sizing: border-box;
    .verify-box {
        width: 100%;
        padding-top: 20px;
        h3 {
            font-size: 26px;
            text-align: center;
            letter-spacing: 2px;
            color: #17181c;
        }
        .verify-input-box, .verify-ph-and-gg {
            form {
                width: 100%;
                margin-right: 0px;
                .verify-ph-gg-flex {
                    margin: 20px 0;
                    .ph-gg-pic {
                        margin-right: 10px;
                        width: 140px;
                        height: 116px;
                    }
                    .ph-gg-text {width: calc(100% - 200px);font-size: 16px;}
                }
                .verify-tab-text {
                    justify-content: space-between;
                    >div {border-bottom: 4px solid #dcdcde;width: 50%;text-align: center;color: #17181c;}
                    >div.active {
                        border-bottom: 4px solid #f3b652;
                        color: #f3b652;
                    }
                }
                .verify-input-text {
                    input {border: 1px solid #dcdcde;width: 100%;height: 48px;}
                    a {height: 48px;font-size: 16px;line-height: 48px;color: #fff;}
                }
                .forget-password-text {
                    text-align: right;
                    padding-top: 20px;
                    color: #f3b652;
                    a {color: #f3b652;font-size: 14px;}
                }
                .ph-gg-terms {
                    padding: 10px 0;
                }
                >button, >span, >a{
                    width: 100%;
                    height: 55px;
                    font-size: 17px;
                    margin-top: 30px;
                    color: #fff;
                }
            }
            .input-right-text {
                display: none;
            }
        }
    }
}
//内页验证
.verify-inside-page {
    background: #fff;
    height: inherit;
    margin-top: 10px;
    padding: 20px 0 50px;
    min-height: 620px;
    .verify-box {
        padding-top: 0;
        h3 {color: #18191d;}
        .verify-input-box {
            form {
                .verify-input-text {
                    input {border: 1px solid #dcdcde;padding-right: 10px;}
                    .intl-tel-input {
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 38px;
                        .flag-container {border: 1px solid #dcdcde;}
                        input {width: calc(100% - 50px);margin-left: 50px;border-left: 0;}
                    }
                }
                .verify-input-tab {
                    display: flex;
                    justify-content: space-between;
                    >a {
                        width: 150px;
                        height: 54px;
                        margin-top: 38px;
                        margin-left: 0;
                        text-align: center;
                        line-height: 54px;
                        color: #18191d;
                        background: #f3b652;
                        border:0;
                    }
                    a:hover {
                        color: #18191d;
                        background: #f3b652;
                        border: 0;
                    }
                }
            }
            .gg-verify-box {
                .gg-verify-input {
                    >p {color: #17181a;padding: 15px 0;}
                    .app-store {
                        a {
                            width: 48%;
                            height: 54px;
                            box-sizing: border-box;
                            line-height: 52px;
                            i,span {color: #17181a;vertical-align: middle;}
                            i {font-size: 26px;}
                        }
                    }
                    .gg-verify-qr {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        .gg-verify-qr-text {
                            width: calc(100% - 200px);
                            p:first-child {color: #17181a;font-size: 15px;}
                            p:nth-child(2) {background: #f5f5f5;text-align: center;padding: 14px 0;color: #17181a;font-size: 15px;font-weight: bold;margin: 10px 0;}
                        }
                    }
                }
                .verify-input-text.m-t-10 {
                    input {margin-top: 10px;}
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .verify, .verify-inside-page {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background-size: cover;
        .verify-box {
            width: 95%;
            margin: 0 auto;
            padding-top:100px;
            h3 {font-size: 30px;}
            .verify-input-box{
                form {
                    width: 100%;
                    margin-right: 0px;
                    margin-bottom: 50px;
                    .verify-input-text {
                        input {width: 100%;}
                    }
                    .verify-ph-gg-flex {
                        justify-content: space-between;
                        .ph-gg-pic {width: 45%;margin-right: 0;}
                        .ph-gg-text {width: 50%;}
                    }
                    >button, >a, >span {
                        width: 100%;
                    }
                }
                .verify-input-right-text{
                    display: none;
                }
            }
        }
    }
    .verify-pop {
        width: 320px;
        padding: 18px 20px 50px;
        .verify-input-box, .verify-ph-and-gg {
            form {
                .verify-ph-gg-flex {
                    .ph-gg-text {width: calc(100% - 100px) !important;}
                }
            }
            .input-right-text {
                display: none;
            }
        }
    }
    .verify-inside-page {
        width: 100%;
        padding: 0;
        .verify-box {
            width: 100%;
            padding-top: 50px;
            .verify-input-box, .verify-ph-and-gg {
                form {
                    .verify-ph-gg-flex {
                        .ph-gg-text {width: calc(100% - 100px) !important;}
                    }
                }
                .input-right-text {
                    display: none;
                }
                .gg-verify-box {
                    .gg-verify-input {
                        .gg-verify-qr {
                            align-items: center;
                            .gg-verify-qr-code {
                                width: 120px;
                                height: 120px;
                                canvas {
                                    width: 120px;
                                    height: 120px;
                                }
                            }
                            .gg-verify-qr-text {
                                width: calc(100% - 140px);
                            }
                        }
                    }
                }
            }
        }
    }
}